{% extends 'base.html' %}
{% block main %}
    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
                <div class="entry-meta">
                    <span class="post-category"><a href="#">{{ post.category.name }}</a></span>
                    <span class="post-date"><a href="#"><time class="entry-date"
                                                              datetime="{{ post.created_time }}">{{ post.created_time }}</time></a></span>
                    <span class="post-author"><a href="#">{{ post.author }}</a></span>
                    <span class="comments-link"><a href="#">ideas</a></span>
                    <span class="views-count"><a href="#">reads</a></span>
                </div>
         </header>
        <div class="entry-content clearfix">
            {{ post.body|safe }}
        </div>
    </article>
    <section class="comment-area" id="comment-area">
        <hr>
        <h3>post opinion</h3>
        <form action="#" method="post" class="comment-form">
            <div class="row">
                <div class="col-md-4">
                    <label for="id_name">name：</label>
                    <input type="text" id="id_name" name="name" required>
                </div>
                <div class="col-md-4">
                    <label for="id_email">email：</label>
                    <input type="email" id="id_email" name="email" required>
                </div>
                <div class="col-md-4">
                    <label for="id_url">web：</label>
                    <input type="text" id="id_url" name="url">
                </div>
                <div class="col-md-12">
                    <label for="id_comment">idea：</label>
                    <textarea name="comment" id="id_comment" required></textarea>
                    <button type="submit" class="comment-btn">post</button>
                </div>
            </div>    <!-- row -->
        </form>
        <div class="comment-list-panel">
            <h3>list total <span>1</span> opinions</h3>
                    <ul class="comment-list list-unstyled">
                        <li class="comment-item">
                            <span class="nickname">a test name</span>
                            <time class="submit-date" datetime="2012-11-09T23:15:57+00:00">2017年3月12日 14:56</time>
                            <div class="text">
                                    this is a test message for post.
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
{% endblock main %}
          
{% block toc %}
                <div class="widget widget-content">
                    <h3 class="widget-title">article list</h3>
                    <ul>
                        <li>
                            <a href="#">a test for topic</a>
                        </li>
                    </ul>
                </div>
{% endblock toc %}

